// D:\Newton\latest ionic\myApp\src\app>ionic g page chatrooms/chatroom
.logo{
    margin-left: -10px;
    padding-left: 0px;
  }

.fonts{
    font-size:small ;
  }
  
  
  .fon{
    font-size:9px;
  }
  .fon1{
    font-size:7px;
  }
  .fon2{
    font-size:9px;
  }




  ///new chat
  .message {
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 4px;
    white-space: pre-wrap;
  }
   
  .my-message {
    background: var(--ion-color-tertiary);
    color: #fff;
  }
   
  .other-message {
    background: var(--ion-color-secondary);
    color: #fff;
  }
   
  .time {
    color: #dfdfdf;
    float: right;
    font-size: small;
  }
   
  .message-input {
    margin-top: 0px;
    border: 1px solid var(--ion-color-medium);
    border-radius: 10px;
    background: #fff;
  }
   
  .msg-btn {
    --padding-start: 0.5em;
    --padding-end: 0.5em;
  }

  .freeze{
    overflow: hidden;
    background-color: rgb(230, 215, 215);
    position: fixed;
    width: 100%;
  }

  .chatdata {
    padding: 16px;
    margin-top: 130px;
    height: 1500px; /* Used in this example to enable scrolling */
  }