.logo{
    margin-left: -10px;
    padding-left: 0px;
  }

  .fonts{
    font-size:small ;
}


.fon{
    font-size:9px;
  }

  .freeze{
    overflow: hidden;
    background-color: rgb(230, 215, 215);
    position: fixed;
    width: 100%;
  }
  .chatdata {
    padding: 10px;
    margin-top: 115px;
   // height: 1500px; /* Used in this example to enable scrolling */
  }
  .fon1{
    font-size:7px;
  }